
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style type="text/css">
      body{
        background: rgba(255,255,255,0.5);
        background-image: url("/images/c.jpg");
        background-repeat: no-repeat;
        background-attachment: unset;
        background-size: cover;


          }
          span{
            font-size: 38px;
            color: black;
          }
      .container{
        height: 400px;
         border: 2px ;
      }
      h1{
        font-size: 50px;
      }
      p{
        font-size: 30px;

      }
    </style>
    <script type="text/javascript">

  function validate()
  { //alert("haha");
   if(document.forms["f1"]["url1"].value=="")
  {  alert("enter a valid url");
return false;
}
return true;
}

  </script>
  </head>
  <body >
  
  {{{body}}}
  <br><br><br><br><br><br><br>
 <h1><center><b>URL-SHORTENER</b></center></h1>
  <div class="container">
  <br><br><br><br>
 <center><form action='/insert' method="post" name="f1" onSubmit=" return validate()">
  <span><b>Enter your url:</b></span><input type="text" name="url1" ng-model="myInput" required my-directive>
  <button type="submit" name="bt1" class="btn btn-default btn-lg active">Submit</button>

  </form> 
  <p><b>{{items}}</b></p>
  </center>
</div>


  <br> 
  
  <br>
  <div>
  

  </div>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>
